<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dashboard</title>
  <meta name="description" content="Stats">
  <link rel="icon" href="../static/media/antonn_images/antonn.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="../static/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/dashboard.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <script src="../static/js/Chart.min.js"></script>

</head>

<body>
  <div class="main">
      <div class="container">
          <div class="guild-intro columns">
            <div class="column bold">Server: {{guildData['name']}}</div>
            <div class="column bold">ID: {{guildData['id']}}</div>
          </div>
          <br><br>
          <div class="guild-intro columns">
            <div class="column">Total Messages: {{guildData['total_msg']}}</div>
            <div class="column">Average Messages: {{avgMsg}}</div>
            <div class="column">Messages Today: {{guildData['dailyCount']}}</div>
          </div>

          <div style="min-width:101%;margin-left:-6px;">
            <canvas id="MsgChart" width="100%" height="35px"></canvas>
          </div>

          <div style="min-width:101%;margin-left:-6px;"> 
            <canvas id="MemChart" width="100%" height="35px"></canvas>
          </div>

          <br>
          <br>
          <br>
          <div class="columns">
            <div class="column" style="padding:5px;">
              <table class="table-parent">
                <thead class="background">
                  <tr >
                    <th class="background table-head">Member</th>
                    <th class="background table-head">Messages</th>
                  </tr>
                </thead>

                <tbody class="background">
                  {% for i in members %}
                  <tr class="table-row">
                    <td class="background table-child">{{i.name}}</td>
                    <td class="background table-child"> {{i.total_msg}}</td>
                  </tr>

                  {% endfor %}
                </tbody>


              </table>

            </div>

            <div class="column">
              <canvas id="MsgPie" style="padding:0"></canvas>
            </div>

          </div>
          <div class="columns">
            <div class="column" style="padding:5px;">
              <table class="table-parent">
                <thead>
                  <tr >
                    <th class="background table-head">Channel</th>
                    <th class="background table-head">Messages</th>
                  </tr>
                </thead>

                <tbody>
                  {% for i in channels %}
                  <tr class="table-row">
                    <td class="background table-child">{{i.name}}</td>
                    <td class="background table-child">{{i.total_msg}}</td>
                  </tr>

                  {% endfor %}
                </tbody>

              </table>

            </div>
            <div class="column">
              <canvas id="ChannelPie"></canvas>
            </div>
            </div>

          

      </div>

  </div>
</body>

<script>
/*
function done(){
  var url=chart.toBase64Image();
  var a = document.getElementById("link")
  a.href = url;
  console.log(url);

}*/

var ctx = document.getElementById("MsgChart").getContext('2d');
var chart = new Chart(ctx,{
    type:'line',
    data:{
        labels : [{% for label in Msgx %}
                    "{{label}}",
                 {% endfor %}],

        datasets: [{
            data: {{ Msgy }},
            backgroundColor: "rgb(27, 27, 27,0.5)",
            hoverBackgroundColor: "rgb(27, 27, 27,0.3)",
            fill: true,
            fillOpacity: 0.1,
            borderColor: "white",
            pointHoverRadius: "8",
            pointRadius: "6",
            pointBackgroundColor: "rgb(4, 245, 253)",
            defaultFontColor: "white",
            fontColor: "white"
        }]
    },

    options:{
      scales:{
        xAxes: [{
                afterTickToLabelConversion: function(data){


                    var xLabels = data.ticks;

                    xLabels.forEach(function (labels, i) {
                        if (i % 2 == 1){
                            xLabels[i] = '';
                        }
                    });
                } 
            }],
      },
      title: {
          display: true,
          text: 'Messsages'
      },
      legend:{
        display: false,
        labels:{
          fontColor: 'white'
        }
      },
      tooltip:{
        displayColors: false,
      },
      bezierCurve : false,

    }
})

var ctx2 = document.getElementById("MemChart").getContext('2d');
var chart2 = new Chart(ctx2,{
    type:'line',
    data:{
        labels : [{% for label in Memx %}
                    "{{label}}",
                 {% endfor %}],

        datasets: [{
            data: {{ Memy }},
            backgroundColor: "rgb(27, 27, 27,0.5)",
            hoverBackgroundColor: "rgb(27, 27, 27,0.3)",
            fill: true,
            fillOpacity: 0.1,
            borderColor: "white",
            pointHoverRadius: "8",
            pointRadius: "6",
            pointBackgroundColor: "rgb(4, 245, 253)",
            defaultFontColor: "white",
            fontColor: "white"
        }]
    },

    options:{
      
      scales: {
        xAxes: [{
                afterTickToLabelConversion: function(data){


                    var xLabels = data.ticks;

                    xLabels.forEach(function (labels, i) {
                        if (i % 2 == 1){
                            xLabels[i] = '';
                        }
                    });
                } 
            }],
      yAxes: [{
         ticks: {
            stepSize: 1
         }
      }]
      },
      title: {
          display: true,
          text: 'Members'
      },
      legend:{
        display: false,
        labels:{
          fontColor: 'white'
        }
      },
      tooltip:{
        displayColors: false,
      },
      bezierCurve : false,

    }
})

var ctx3 = document.getElementById("MsgPie")
var chart3 = new Chart(ctx3,{
  type: "pie",
  data:{
    labels: [{% for label in MsgPie %}
                    "{{label['name']}}",
              {% endfor %}],
    datasets: [{
      data: [{% for label in MsgPie %}
                    "{{label['total_msg']}}",
              {% endfor %}],
      
        backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#e74c3c",
        "#34495e",
        "#F70D02",
        "#5C44E6",
        "#E644BA"
      ],
    }]
  }
})


var ctx4 = document.getElementById("ChannelPie")
var chart4 = new Chart(ctx4,{
  type: "pie",
  data:{
    labels: [{% for label in ChannelPie %}
                    "{{label['name']}}",
              {% endfor %}],
    datasets: [{
      data: [{% for label in ChannelPie %}
                    "{{label['total_msg']}}",
              {% endfor %}],
      
        backgroundColor: [
        "#34495e",
        "#f04e3c",
        "#5C44E6",
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#3ddee0",
        "#E644BA"
      ],
    }]
  }
})
</script>
</html>