<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Antonn</title>
  <meta name="description" content="Stats">
  <link rel="icon" href="../static/media/antonn_images/antonn.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="../static/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
    <div class="main">
        {% if serverExist == False %}
            <h1 class="title-2">This Server Doesn't exist or Antonn isn't in this Server</h1>
        {% elif logged_in == True %}
            <h1 class="title">You are not Authorised to Visit This Dashboard</h1>
        
        {% endif %}
    </div>
    </div>
</html>