<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Antonn</title>
  <meta name="description" content="Stats">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
    <div class="container">
    <div class="main">

        <h1 class="title">Antonn</h1>
        <p class="text">Discord Bot for Statistics</p>

        <a href="https://antonn.ml/dashboard?ID=710551528301395988" class="dashboard-link">Check Sample Dashboard</a>
        <br><br><br>
        <div class="columns">
            <div class="column">
                <img src="../static/media/antonn_images/discord.png" class="screenshot"/>
            </div>

            <div class="column">
                
            </div>

        </div>

    </div>
    </div>
</body>

</html>