<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Antonn</title>
  <meta name="description" content="Stats">
  <link rel="icon" href="../static/media/antonn_images/antonn.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="../static/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
    <div class="main">

        <h1 class="title">Antonn</h1>
        <p class="text">Discord Bot for Statistics</p>

        <a href="https://discord.com/api/oauth2/authorize?client_id=733732900939366427&permissions=8&scope=bot" class="dashboard-link">Invite Antonn</a>
        <a href="/login" class="dashboard-link">Login</a>
        <a href="https://antonn.ml/dashboard?ID=709321533654433792" class="dashboard-link">Check Sample Dashboard</a>

        <br><br><br>
        <div class="columns">
            <div class="column">
                <img src="../static/media/antonn_images/stat.png" class="screenshot"/>
            </div>

            <div class="column">
                <img src="../static/media/antonn_images/web-dashboard.jpg" class="screenshot"/>
            </div>

        </div>
        <br>

    </div>
    </div>
</body>

</html>
