<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Antonn</title>
  <meta name="description" content="Stats">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
    <div class="parent">
        <div class="intro">
            <h1 id="title">Antonn</h1>
            <p>Discord Bot for Statistics</p>
            <br>
            <a href="https://discord.com/api/oauth2/authorize?client_id=733732900939366427&permissions=8&scope=bot" class="invite-a">Invite</a>
        </div>
        <br><br>
        <div class="getStats">
            <div class="columns">
                <div class="column">
                    <h1 class="sub-title">See Stats On Web Dashboard As well As in Discord</h1>
                </div>

                <div class="column">
                    <img src="../media/antonn_images/dashboard.png" width="100px" height="100px"/>
                </div>


            </div>

        </div>
    </div>

</body>

</html>