<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Antonn</title>
  <meta name="description" content="Stats">

  <link rel="stylesheet" href="../static/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
    <div class="main">

        <h1 class="title">Login</h1>

        <div class="field">
          
          <fieldset disabled>
            <div class="field">
                <div class="control">
                  <input class="input" type="email" placeholder={{name}}>
                </div>
              </div>
            </fieldset>
            <br>
            <div class="control">
              <input class="input" type="text" placeholder="Password">
            </div>
        </div>
          
    </div>
    </div>
</body>

</html>