<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Antonn</title>
  <meta name="description" content="Stats">
  <link rel="icon" href="../static/media/antonn_images/antonn.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="../static/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
    <div class="main">

        <h1 class="title">Login</h1>

        <form action="{{ url_for('dashboard',ID=id) }}" method='post'>
        <div class="field">
          
          <fieldset disabled>
            <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder={{name}} name="name">
                </div>
              </div>
            </fieldset>
            <br>
            <div class="control">
              <input class="input" type="text" placeholder="Password" name="password">
            </div>

            <button type="submit" class="submit">SUBMIT</button>
        </div>
      </form>
          
    </div>
    </div>
</body>

</html>