<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Antonn</title>
  <meta name="description" content="Discord Bot for Statistics">
  <link rel="icon" href="../static/media/antonn_images/antonn.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="../static/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
    <div class="main">

        <p class="text">User</p>

        <div class="columns user">
            <div class="column is-two-fifths userDiv">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://cdn.discordapp.com/avatars/{{user['id']}}/{{user['avatar']}}.png" class="server-image">
                                </figure>
                            </div>

                            <div class="media-content">
                                <p class="title is-4" style="padding-top:8px;">{{user.username}}</p>
                            </div>
                        </div>

                    </div>

                </div>
                
            </div>


        </div>

        <br>

        <p class="text">Servers</p>

        <div class="columns is-mobile is-multiline is-narrow-mobile">
        {% if not guilds %}
            <h1 class="no-server" style="margin:10px">No Servers Found, <a href="https://discord.com/api/oauth2/authorize?client_id=733732900939366427&permissions=8&scope=bot">Invite Antonn</a></h1>
        {% else %}
        {% for guild in guilds %}

        <div class="column is-two-fifths server">
        <div class="card"  onclick="redirect('{{guild.id}}')">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png" alt="Avatar" class="server-image">
                        </figure>
                    </div>

                    <div class="media-content">
                        <p class="title is-4" style="padding-top:8px;">{{guild.name}}</p>
                    </div>

                </div>
            </div>

        </div>
        </div>
        {% endfor %}
        {% endif %}
        </div>

        <form action="{{ url_for('logout') }}" method="post">
            <button class="logout button" type="submit">Logout</button>
        </form>
    </div>
        
    </div>

</body>
<script>
    function redirect(id){
        window.location.href="/dashboard?ID=" + id
    }

</script>
</html>