*{
    background-color: rgb(32, 32, 32);
}
.title{
    color: rgb(199, 199, 199);
    font-size: 50px;
    font-weight: bold;
}
.text{
    margin-bottom: 15px;
    color: rgb(153, 153, 153);
}
.main{
    padding: 100px;
}
.dashboard-link{
    margin-right: 5px;
    padding:10px;
    border: 0.1px solid white;
    color: rgb(199, 199, 199)
}
.dashboard-link:hover{
    color: rgb(32, 32, 32);
    background-color: white;
}
.screenshot{
    box-shadow: 1px 1px 4px rgb(138, 138, 138);
    height: 600px;
}
.submit{
    margin-top: 10px;
    border: 0.4px solid rgb(199, 199, 199);
    padding: 10px;
    color: rgb(199, 199, 199);
}
.submit:hover{
    background-color: rgb(32,32,32);
    color: rgb(199,199,199);
}
.card{
    padding: 0px !important;
}

.card-content{
    padding: 0px !important;
}

.media{
    padding: 0px !important;
}
